@import url(https://fonts.googleapis.com/css?family=Open+Sans);
h2 {
  font-size: 22px;
  font-weight: 600;
}

button {
  cursor: pointer;
}

#reviewModule {
  width: 56%;
  position: absolute;
  left: 5.3%;
  color: #29303b;
  font-size: 15px;
  font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
  line-height: 1.43;
}

.featuredReviewContainer {
  background-color: #f7f8fa;
  padding: 35px;
  display: flex;
  flex-direction: column;
}

.featuredReviewTopRow {
  display: flex;
  padding-bottom: 15px;
}

.featureReviewUserPic {
  padding-right: 20px;
}

.featuredReviewInfo {
  display: inline-block;
}

.featuredReviewUsername {
  font-weight: 700;
  padding-right: 10px;
}

/* ------------------------------- */
.studentFeedbackContainer {
  margin-top: 30px;
  margin-bottom: 35px;
  display: flex;
}

.studentFeedbackBarGraph {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.studentFeedbackGraphRow {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 10px;
  width: 100%;
}

.studentFeedbackGraphOuterBar {
  height: 20px;
  width: 100%;
  background: #f2f3f5;
  border-radius: 3px;
  cursor: pointer;
}

.studentFeedbackGraphInnerBar {
  background: #a1a7b3;
  height: 100%;
  border-radius: 3px;
  cursor: pointer;
}

.studentFeedbackAverageContainer {
  padding-right: 30px;
}

.studentFeedbackAverage {
  font-size: 72px;
  font-weight: 500;
}

.starButton {
  color: #007791;
  font-size: 15px;
  font-weight: 400;
  border-style: none;
  vertical-align: top;
}

.starButtonHolder {
  width: 60px;
  text-align: center;
}

.starButton:hover {
  color: #003d4b;
}

.summaryStars {
  width: 93px;
  height: 16px;
  padding-left: 10px;
  padding-top: 2px;
  cursor: pointer;
}


/* ------------------------------- */
.reviewsContainerHeaderAndSearch {
  padding-top: 20px;
  padding-bottom: 20px;
}

.reviewSearchBar {
 float: right;
 font-size: 18px;
 font-weight: 600;
 height: 33px;
}

.reviewSearchButton {
  font-size: 12px;
  color: white;
  border-style: none;
  background-color: #007791;
  text-align: center;
  height: 32px;
  width: 32px;
  border-radius: 2px;
  position: relative;
  left: -2px;
}

.reviewSearchButton:hover {
  background-color: #014f61;
}

.reviewsHeader {
  font-size: 18px;
  font-weight: 600;
}

.reviewSearchInputWrapper {

}

.reviewSearchInput {
  height: 28px;
  box-shadow: none;
  font-size: 12px;
  font-weight: 600;
  text-indent: 8px;
  border-radius: 2px;
  border: 1px solid #b3b9c5;
  vertical-align: top;
  width: 200px;
}
   
.reviewSearchInput:focus {
  box-shadow: 1px solid #1799b6;
  outline: 1px auto #1799b6;
  border: 1px solid #1799b6;
}

.reviewsContainer {
  border-top: 1px solid #cdd2dd;
  margin-bottom: 20px;
}

.individualReviewContainer {
  border-bottom: 1px solid #cdd2dd;
  padding: 30px 0px 30px 10px;
  min-height: 120px;
}

.reviewUserInfo {
  width: 35%;
  height: 100%;
  display: inline-block;
  vertical-align: top;
}

.reviewInfo {
  display: inline-block;
  padding-left: 15px;
  vertical-align: top;
}

.reviewDate {
  color: #686f7a;
}

.reviewRatingAndText {
  width: 65%;
  height: 100%;
  display: inline-block;
  vertical-align: top;
}

.reviewStars{
  width: 95px;
  height: 17px;
  padding-bottom: 10px;
}

.reviewUserPic {
  display: inline-block;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  vertical-align: top;
}

.reviewUserInitials {
  display: inline-block;
  width: 46px;
  height: 46px;
  border: 1px solid #686f7a;
  border-radius: 50%;
  text-align: center;
  color:#686f7a;
  line-height: 46px;
  vertical-align: top;
}

.seeMoreButton {
  color: #007791;
  background-color: #fff;
  border: 1px solid #007791;
  font-size: 15px;
  padding: 11px 12px;
  border-radius: 2px;
  font-weight: 600;
}

.seeMoreButton:hover {
  color: #002831;
  border: 1px solid #002831;
}

.seeMoreButton:focus {
  outline: none;
}

.seeMoreButtonHolder{
  text-align: center;
  margin-bottom: 50px;
}