@import url(https://fonts.googleapis.com/css?family=Open+Sans);
h2 {
  font-size: 22px;
  font-weight: 600;
}
#reviewModule {
  width: 56%;
  position: absolute;
  left: 5.3%;
  color: #29303b;
  font-size: 15px;
  font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
  line-height: 1.43;
}

.featuredReviewContainer {
  background-color: #f7f8fa;
  padding: 35px;
  display: flex;
  flex-direction: column;
}

.featuredReviewTopRow {
  display: flex;
  padding-bottom: 15px;
}

.featureReviewUserPic {
  padding-right: 10px;
}

.featuredReviewInfo {
  display: inline-block;
}

.featuredReviewUsername {
  font-weight: 700;
  padding-right: 10px;
}


.studentFeedbackContainer {
  margin-bottom: 35px;
  display: flex;
}

.studentFeedbackBarGraph {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.studentFeedbackGraphRow {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 5px;
  width: 100%;
}

.studentFeedbackGraphOuterBar {
  height: 20px;
  width: 100%;
  background: #f2f3f5;
  border-radius: 3px;
  cursor: pointer;
  padding-right: 10px;
}

.studentFeedbackGraphInnerBar {
  background: #a1a7b3;
  height: 100%;
  border-radius: 3px;
  cursor: pointer;
}

.studentFeedbackAverageContainer {
  padding-right: 30px;
}

.studentFeedbackAverage {
  font-size: 72px;
  font-weight: 500;
}

.starButton {
  color: #007791;
  font-size: 15px;
  font-weight: 400;
  border-style: none;
  cursor: pointer;
}

.reviewContainerHeaderAndSearch {
  padding-bottom: 35px;
}

.reviewSearchBar {
 float: right;
 font-size: 18px;
 font-weight: 600;
}

.reviewsHeader {
  font-size: 18px;
  font-weight: 600;
}

.reviewSearchInputWrapper {

}

.reviewSearchInput {
  height: 22px;
  box-shadow: none;
  font-size: 12px;
  text-indent: 8px;
  border-radius: 2px;
  border: 1px solid #b3b9c5;
}
   
.reviewSearchInput:focus {
  /* outline: none; */
  height: 22px;
  box-shadow: 1px solid #0d8eac;
  font-size: 12px;
  text-indent: 8px;
  border-radius: 2px;
  outline: 1px auto #1baaca;
  border: 1px solid #1baaca;
}
