.studentFeedbackGraphRow {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 10px;
  width: 100%;
}

.rowStars {
  min-width: 110px;
  height: 16px;
  padding-left: 10px;
  padding-top: 2px;
  cursor: pointer;
  text-align: center;
  line-height: 14px;
}

.starButton {
  color: #007791;
  font-size: 15px;
  font-weight: 400;
  border-style: none;
  vertical-align: top;
  outline: none;
  cursor: pointer;
  width: 40px;
  text-align: right;
}

.starButton:hover {
  color: #003d4b;
}

.starContainer {
  position: relative;
  width: 45%;
}