.reviewsContainer {
  border-top: 1px solid #cdd2dd;
  margin-bottom: 20px;
}

.seeMoreButton {
  color: #007791;
  background-color: #fff;
  border: 1px solid #007791;
  font-size: 15px;
  padding: 11px 12px;
  border-radius: 2px;
  font-weight: 600;
  cursor: pointer;
}

.seeMoreButton:hover {
  color: #002831;
  border: 1px solid #002831;
}

.seeMoreButton:focus {
  outline: none;
}

.seeMoreButtonHolder{
  text-align: center;
  margin-bottom: 50px;
}

.reviewStars{
  width: 95px;
  height: 17px;
  padding-bottom: 10px;
}

.reviewUserPic {
  display: inline-block;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  vertical-align: top;
}

.reviewUserInitials {
  display: inline-block;
  width: 46px;
  height: 46px;
  border: 1px solid #686f7a;
  border-radius: 50%;
  text-align: center;
  color:#686f7a;
  line-height: 46px;
  vertical-align: top;
}